html,body{
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: serif;
}
.container{
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  margin-left: 50px;
}
*::-webkit-scrollbar-bottom{
  display: flex;
}
/* header section */
#header{
  background-color: gray;
}
.header-cont {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-cont,.right-cont{
   display: flex;
   flex-direction: row;
   align-items: center;
}
.logo{
  max-width: 110px;
}
.main-nav {
  list-style: none;
  display: inline-flex;
  flex-direction: row;
  
}
.right-cont i,.right-cont img{
  margin-right: 22px;
  cursor: pointer;
}

.nav-item{
  color: #e5e5e5;
  margin-right: 20px;
  opacity: 0.84;
}
.nav-item.active{
  color: white;
  opacity: 1;
  font-weight: 550;
}
.right-cont i{
 color: white;
}
.right-cont img{
  max-width: 36px;
 }
 i{
  font-size: 25px;
 
 }
  /* Moves sction css */
  .movies-section{

  }
  .movie-section-heading{
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    color: white;
    cursor: pointer;
  }

  .explore-nudge{
    color: #54b9c5;
    font-size: 12px;
    display: none;
  }
  .movie-section-heading:hover .explore-nudge{
    display: inline-block;
  }
  .movies-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
  }






  .movie-item{
    width: 245px;
    object-fit: contain;
    margin-right: 6px;
    border-radius: 5px;
  }
  .movie-item:hover{
    transform: scale(1.3);
    transition:  transform linear 310ms;
  }
 /* Responsive */
 @media (max-width:767px){
  .main-nav{
    display: none;
  }
 }